@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype'),
        url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
        url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans-Italic.woff') format('woff'),
        url('../fonts/OpenSans-Italic.ttf') format('truetype'),
        url('../fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}



* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

h1 {
    font-weight: 600;
    font-size: 44px;
}

li {
	list-style: none;
}

header {
	width: 100%;
	background: #000;
	display: flex;
}

.header_logo {
	margin-top: 56px;
	margin-left: 180px;

	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
}

nav {
	margin-top: 56px;
	margin-left: 437px;
}

.topnav a {
	text-align: center;
	padding: 12px 16px;

    font-weight: bold;
    font-size: 14px;
	color: #fff;
}

.topnav a:hover {
	border-bottom: 3px solid #fcac45;
}

.topnav .icon {
	display: none;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main_welcome {
	background: #000;
	text-align: center;
	padding: 210px 0 410px 0;
}

.main_welcome p {
	color: #999;
	font-size: 20px;
}

.main_welcome p span {
    font-weight: bold;
}

.main_welcome h1 {
	color: #999;
	font-size: 44px;
}

.main_welcome h1 span {
    font-weight: 300;
}

.main_welcome h1:after {
	display: none;
}

.main_welcome .mycompany {
    font-weight: bold;
	font-size: 44px;
	color: #fcac45;
}

.wrapper {
	width: 76%;
	margin: 0 auto;
}

main .main_about {
	display: flex;
	padding: 100px 0;
}

.about_right {
	margin-left: 175px;
}

.about_right h1 {
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
	font-weight: normal;
}

.about_right h1:after {
	display: none;
}

.about_right h1 .about_us {
	display: inline-block;
	font-weight: bold;
}

.about_right p {
	display: inline-block;
	margin: 30px 0 50px 0;
	color: #6c6c6c;
	text-align: left;
}

.about_right li {
	background: url(../img/point.png) 0px no-repeat;
	padding-left: 20px;
	margin-top: 10px;
	color: #6c6c6c;
}

.about_right li span {
    font-weight: 600;
	font-size: 18px;
}

.mw_100 {
	min-width: 100%;
}

.main_team {
	background: #000;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #fff;
}

.main_team h1 {
	font-size: 44px;
	padding-bottom: 30px;
}

.photo {
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}

.team_cards {
	display: flex;
}

.name {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 7px;
}

.position {
	font-size: 16px;
	margin-bottom: 35px;
}

.about_position {
	font-size: 14px;
}

.card {
	margin: 0 40px;
}

.card h4 {
    font-weight: bold;
	font-size: 20px;
}

.main_services .wrapper h1 {
	text-align: center;
	padding: 100px 0 30px 0;
}

.main_services .wrapper p {
	text-align: center;
	margin-bottom: 100px;
	font-size: 14px;
}

.main_services .discription {
	width: 1130px;
	margin: 0 auto 175px auto;

    font-style: italic;
    font-size: 16px;
}

.services_cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 20px;

	text-align: center;
}

.services_card h4 {
	padding: 30px 0 20px 0;
	font-size: 25px;
}

.main_clients {
	background: #000;
	padding: 100px 0 205px 0;
	color: #fff;
	text-align: center;
}

.main_clients h1 {
	margin-bottom: 30px;
}

.main_clients h1 span {
    font-weight: 300;
}

.main_clients img {
	margin-left: 30px;
}

.main_testimonials {
	background: #000;
	text-align: center;
	color: #fff;
	padding-bottom: 170px;
}

.main_testimonials h1 {
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 30px;
}

.main_testimonials p {
    font-weight: 800;
    font-size: 18px;

	text-transform: uppercase;
	margin-bottom: 50px;
}

.main_testimonials p span {
	text-transform: none;
}

.main_testimonials p span span {
    font-weight: 300;
	text-transform: none;
}

.main_testimonials h1 span {
    font-weight: 300;
}

.main_work {
	text-align: center;
	padding: 100px 0;
}

.main_work h1 {
	margin-bottom: 30px;
}

.main_work h1 span {
    font-weight: 300;
}

.main_work p {
	width: 1130px;
	margin: 0 auto 175px auto;

    font-weight: 300;
    font-size: 16px;
	color: #6c6c6c;
}

.main_work img:hover {
	opacity: 0.9;
}

.contact_form {
	padding: 100px 0;
}

.contact_form h1,p {
	text-align: center;
	
}

.contact_form h1 {
	color: #000;
	margin-bottom: 30px;
}

.contact_form p {
	font-size: 14px;
}

.discription p {
	font-style: italic;
	font-size: 16px;
	color: #767676;
}

form p {
	text-align: left;
}

.contact_wrapper {
	width: 755px;
	margin: 0 auto;
	color: #636363;
}

.red {
	color: red;
}

.form_inputs {
	margin-top: 100px;
	display: flex;
}

input {
	width: 360px;
	height: 40px;
	margin-bottom: 30px;

	font-size: 20px;
}

input:first-of-type {
	margin-right: 23px;
}

textarea {
	width: 100%;
	height: 160px;
}

input, textarea {
	border: 1px solid #999;
	margin-top: 5px;
}

.button_block {
	display: flex;
	justify-content: flex-end;
}

input[type=submit] {
	margin-right: 0;
	margin-top: 30px;
	width: 165px;
	height: 40px;

	background: #fcac45;
	color: #fff;
}

h1:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 100px;
	padding-top: 30px;
	border-bottom: 3px solid #fcac45;
}

footer {
	width: 100%;
	height: auto;
	background: #222;
	padding: 30px 0;
}

.social {
	display: flex;
	justify-content: center;
}

.social img {
	margin-left: 12px;
}

.social img:hover {
	opacity: 0.5;
}







@media screen and (max-width: 1450px) {
	nav {
		margin-left: 20%;
	}
}

@media screen and (max-width: 1400px) {
	nav {
		margin-left: 10%;
	}
}

@media screen and (max-width: 1350px) {
	.topnav a {
		display: none;
	}

	.topnav a.icon{
		margin-top: -17px;
		margin-left: 500px;
		display: block;
		color: #fff;
		font-size: 25px;
	}

	nav {
		width: 100%;
	}

	.topnav.responsive {
		position: relative;
		top: 50px;
		left: -200px;
	}

	header .topnav.responsive {
		height: 340px;
	}

	.topnav.responsive a.icon {
		position: absolute;
		top: -50px;
		right: -200px;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}



	main .main_welcome {
		padding: 50px 0;
	}

	main .main_welcome p {
		font-size: 14px;
	}

	main .main_welcome h1 {
		font-size: 25px;
	}

	.mw_100 {
		max-width: 80%;
	}

	.main_about {
		flex-direction: column;
	}

	.about_right {
		text-align: center;
		margin-left: 0;
	}

	.about_right li {
		text-align: left;
	}

	.about_right h1 {
		margin-top: 20px;
		font-size: 20px;
	}

	.team_cards {
		flex-direction: column;
	}

	.services_cards {
		grid-template-columns: auto;
	}

	.main_clients img {
		margin-top: 30px;
	}

	.line1:not(:first-child) {
		display: none;
	}

	.line2:not(:first-child) {
		display: none;
	}

	.line3:not(:first-child) {
		display: none;
	}
}